.skillsPage {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $primary-text;
}

.skills {
    max-width: 500px;
}

.generateBtn {
    margin-top: 24px;
}

.notification {}