.widgetWrapper {
    max-width: 800px;
}

.inputWrapper {
    width: 100%;
    position: relative;
    top: 6px;
}

.inputWrapper {
    margin: 0;
}

.input {
    height: 60px;
    position: relative;
}

.errorMessage {
    font-size: 14px;
    position: absolute;
    left: 0px;
    bottom: -12px;
}

.button {
    font-weight: 500;
    height: 60px;
}

.linkInput {
    width: 100%;
}